.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/default/node_modules
/web/default/dist
infra/gcp-b2b-new-api/.terraform
infra/gcp-b2b-new-api/terraform.tfstate
infra/gcp-b2b-new-api/terraform.tfstate.backup
infra/gcp-b2b-new-api/terraform.tfstate.d
infra/gcp-b2b-new-api/*.tfvars
infra/gcp-b2b-new-api/*.tfvars.json
!THIRD-PARTY-LICENSES.md
