.git
.github
.gcloudignore
.DS_Store
.env
.vscode
.zed
.idea

*.db
*.db-journal
*.exe
*.tfvars
*.tfvars.json

logs/
data/
upload/
build/
tiktoken_cache/

.gocache/
.gomodcache/
.cache/

web/node_modules/
web/default/node_modules/
web/default/dist/

infra/gcp-b2b-new-api/.terraform/
infra/gcp-b2b-new-api/terraform.tfstate
infra/gcp-b2b-new-api/terraform.tfstate.backup
infra/gcp-b2b-new-api/terraform.tfstate.d/
